# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]                   # 表示所有文件都要遵循
indent_style = space              # 缩进风格，可选配置有space和tab
indent_size = 2                   # 缩进大小

# 设置字符集
charset = utf-8

trim_trailing_whitespace = true   # 去除多余的空格
insert_final_newline = true       # 在尾部插入一行
end_of_line = lf                 # 换行符，可选配置有lf、cr和crlf

# [*.{js,vue,html,ts,scss}]  # 表示代码相关文件适用


[*.md]                # 表示仅 md 文件适用
insert_final_newline = false      # 在尾部插入一行
trim_trailing_whitespace = false  # 去除多余的空格